<html>
    <header>
        <title> About Page </title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <div class ="background">
        <div class="banner">
            <div class="navbar">
                    <img src="static/logo.png" class="logo">
                    <ul> 
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="{{url_for('survey')}}">New Survey</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
            </div>
    
            <div class="content">
                <h1>Our Mission</h1>
                <p> At DermaTech, our mission is to empower individuals with the knowledge and tools to take control of their skin health. 
                    <br>We understand the importance of early detection and intervention in preventing the progression of skin diseases. 
                    <br>Through our innovative platform, we provide a seamless experience for users to suggest pre-diagnoses by simply 
                    <br>taking a survey and uploading a photo of their skin.
                </p>
    
                <h2>What Skin Disease Can Do to You:</h2>
                <p>Though skin diseases usually aren't thought of important as your other organs, it can still pose significant dangers to 
                    <br>your overall health. From common conditions like eczema and acne to more serious concerns such as melanoma and 
                    <br>psoriasis, untreated skin diseases can lead to discomfort, scarring, and even life-threatening complications. Beyond 
                    <br>the physical ramifications, the psychological toll of living with a skin condition can be profound, affecting self-esteem, 
                    <br>relationships, and overall quality of life.
                </p>
                
                <h2>Acknowledgement:</h2>
                <p>We recognize that seeking information about skin diseases online can often be a daunting and anxiety-inducing 
                    <br>experience. Misinformation and alarmist content found through search engines can exacerbate fears and lead to 
                    <br>unnecessary panic. And while AI chatbot doctors may provide clinical insights, they lack the empathy and human 
                    <br>touch necessary to address the emotional aspect of skin health concerns.
                </p>
                
                <h2>What We Want to Achieve:</h2>
                <p>At DermaTech, we strive to bridge this gap by offering a compassionate and secure approach to skin health. Our 
                    <br>platform not only delivers accurate pre-diagnoses based on user-provided information but also prioritizes empathy and 
                    <br>understanding throughout the process. We believe in empowering individuals to make informed decisions about their 
                    <br>skin health in a supportive and non-intimidating environment.
                </p>
                
                <h2>We're Here for You!</h2>
                <p>By combining cutting-edge technology with a human-centered approach, we aim to revolutionize the way people 
                    <br>engage with their skin health. At DermaTech, we're not just a platform – we're your partner on the journey to healthier, 
                    <br>happier skin!
                </p>
                </div>
        </div>
    </div>
    
    </header>
</html>