<html>
<head>
    <title> DermaTech Website</title>
    <link rel="stylesheet" href="static/design.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
                <img src="static/logo.png" class="logo">
                <ul> 
                    <li><a href="login.html">Sign In First</a></li>
                    <li><a href="{{url_for('survey')}}">New Survey</a></li>
                    <li><a href="{{url_for('mission')}}">Our Mission</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
        </div>

        <div class="content">
            <h1>Welcome to DermaTech!</h1>
            <h2>The Future of AI Skin Health Screening</h2>
            <p>To access our services, create an account with us! Already have one? Click the login button!
            </p>
            <div>
                <a href="{{ url_for('signup') }}"><button type="button">SIGN-UP</button></a>
                <a href="{{ url_for('login') }}"><button type="button">LOGIN</button></a>
            </div>
        </div>
    </div>
</body>
</html>